<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/scss/main.css">
  <title>Words</title>
</head>

<body>
  <section class="container">

    <h1 class="guess">WORDS</h1>
    <p class="words"></p>
    <div class="try__container">
      <label class="title">Write your word</label>
      <input class="input" type="text">
      <button class="btn">TRY</button>
      <button class="js__button">RESET</button>
    </div>
  <div class="app__word">Check if your word match with ours</div>

  </section>

  <script src="js/main.js"></script>

</body>

</html>